#aboutContainer {
    position: relative;
    width: 100%;
    min-height: 100%;
}

#a0 {
    position: absolute;
    z-index: -10;
    height: 100%;
    width: 100%;
    background-image: url('../media/aboutcover.jpg');
    background-attachment: fixed;
}

#a1 {
    position: absolute;
    z-index: 0;
    width: 100%;
    top: 100%;
    background-color: white;
}