.loader {
    font-size: 2em;
    font-weight: bolder;
    -webkit-animation: load-out 1s;
    animation: load-out 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes load-out {
    from {
        top: 0;
    }

    to {
        top: 100%;
    }
}

@keyframes load-out {
    from {
        top: 0;
    }

    to {
        top: -100%;
    }
}