$usercontainer: rgba(0,0,0,0.3);
$userbutton: green;

$fontcolor: black;

body {
    background-color: rgba(200,40,50,0.5);
}

.userContainer {
    max-width: 100%;
    background-color: $usercontainer;
    padding: 1em;
    color: $fontcolor;
    .uname {
        font-size: 2em;
        border-bottom: 2px solid $fontcolor;
        margin-bottom: 5px;
    }
}


#albumContainer { 
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    position: relative;
    top: 15%;
    width: 80%;
    margin: auto;
    margin-bottom: 3em;

    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}


.photo {
    margin: 1%;
    position: relative;
    max-width: 300px;
    overflow: hidden;
    align-self: flex-end;

    .phelp {
        display: inline-block;
        vertical-align: middle;
    }
    img{
        cursor: pointer;
        width: auto;
        height: 200px;
        display: inline-block;
        vertical-align: middle;
        opacity: 1;
        transition: opacity 0.3s;
    }
    img[data-src] {
        opacity: 0;
    }
}

#coverfooter {
    position: relative;
    margin-top: 2em;
    color: #fff;
    z-index: 10;
    width: 100%;
    text-align: center;
    .clogo {
        display: inline-block;
        vertical-align: middle;
        width: 2em;
        margin: 1em;
    }
    span {
        display: block;
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 700px) {
    #albumContainer { 
        width: 95%;
    }
}